""" Map leader to space ---------------------
let mapleader=" "


""" Mappings
map Y y$
map <leader>e <Action>(RecentFiles)
map <leader>s <Action>(FileStructurePopup)
map <leader>f <Action>(FindInPath)
map <leader>x <Action>(CloseContent)
map <leader>u <Action>(Vcs.RollbackChangedLines)
map <leader>/ <Action>(CommentByLineComment)
map <leader><Tab> <Action>(NextSplitter)
map <leader><Up> <Action>(com.mnw.tabmover.actions.MoveTabToNextWindow)
map <leader><Down> <Action>(com.mnw.tabmover.actions.MoveTabToNextWindow)
map <leader><Right> <Action>(MoveTabRight)
map <leader>r <Action>(RunClass)
map <leader><BS> <Action>(Run)
map <leader><Enter> <Action>(HideAllWindows)
map <leader>n <Action>(NewElement)
map <leader>y <Action>(EditorCopy)
map <leader>N <Action>(NewScratchFile)
map <leader>mm <Action>(Tool_External Tools_mix format current file)

""" Mappings - VCS
map <leader>gp <Action>(Vcs.UpdateProject)
map <leader>gk <Action>(CheckinProject)
map <leader>gd <Action>(Compare.SameVersion)

""" Mappings - Jump to...
map <leader>R <Action>(ChooseRunConfiguration)
map <leader>o <Action>(GotoFile)
map <leader>d <Action>(GotoDeclaration)
map <leader>b <Action>(Back)
map <leader>4 <Action>(ActivateRunToolWindow)
map <leader>js <Action>(ActivateTerminalToolWindow)
map <leader>a <Action>(GotoAction)
map <leader>jt <Action>(GotoTest)
map <leader>jp <Action>(SelectInProjectView)
map <leader>jc <Action>(Refactorings.QuickListPopupAction)

""" Copilot
map <leader>cd <Action>(copilot.disableCopilot)
map <leader>ce <Action>(copilot.enableCopilot)
map <leader>cc <Action>(ActivateGitHubCopilotChatToolWindow)

""" Plugins
set NERDTree 
set matchit
