<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dotfiles.sync</string>

    <key>ProgramArguments</key>
    <array>
			  <string>/Users/piacsek/dotfiles/scripts/sync_dotfiles.sh</string>
        <string>monitor</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/piacsek/dotfiles/.sync_launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/piacsek/dotfiles/.sync_launchd.err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/piacsek/.asdf/shims:/Users/piacsek/.asdf/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/piacsek</string>
    </dict>
</dict>
</plist>
