SESSION_NAME="sample"

tmux rename-window -t $SESSION_NAME:1 nvim
tmux send-keys -t $SESSION_NAME:1 "nvim" C-m

tmux new-window -t $SESSION_NAME:2 -n sample-server -c "#{pane_current_path}"
tmux send-keys -t $SESSION_NAME:2 "iex -S mix phx.server" C-m

tmux new-window -t $SESSION_NAME:3 -n claude -c "#{pane_current_path}"
tmux send-keys -t $SESSION_NAME:3 "claude" C-m

tmux new-window -t $SESSION_NAME:4 -n gh-dash -c "#{pane_current_path}"
tmux send-keys -t $SESSION_NAME:4 "gh dash" C-m

tmux new-window -t $SESSION_NAME:5 -n start-up -c "#{pane_current_path}"
tmux send-keys -t $SESSION_NAME:5 \
    "pg_ctl restart \
    && brew services restart tailscale \
    && tailscale up \
    && exit" C-m

tmux select-window -t $SESSION_NAME:1

